<!-- 세팅 패널 -->
<section id="settings" data-ng-include=" 'views/settings/settings.html' " style="display:none"></section>
<!-- //세팅 패널 -->

<!--페이지헤더-->
<div class="pageheader">
  <h3><i class="fa fa-sitemap"></i>타임라인</h3>
  <div class="breadcrumb-wrapper hidden-xs"> <span class="label">카테고리</span>
    <ol class="breadcrumb">
      <li> <a href="index.html">홈</a> </li>
      <li class="active">타임라인</li>
    </ol>
  </div>
</div>
<!--//페이지헤더-->


<div class="page"><!--페이지-->
	  <div class="row"><!--로우-->
		<div class="col-md-12"><!--부트스트랩12-->
			 
			 <div class="panel"><!--패널-->
				<div class="panel-body"><!--패널바디--> 
				
				  <!--스타트 타임라인-->
				  <ul class="timeline">
				  
					<li>
					  <div class="time-show first"> <a href="#" class="btn btn-primary">Today</a> </div>
					</li>
					
					<li>
					  <div class="timeline-badge primary"><i class="fa fa-bell"></i></div>
					  <div class="timeline-panel">
						<div class="timeline-heading">
						  <h4 class="timeline-title">송중기님</h4>
						  <p><small class="text-muted"><i class="fa fa-time"></i>3분전</small></p>
						</div>
						<div class="timeline-body">
						  <p>심박수 증가</p>
						</div>
					  </div>
					</li>
					
					<li class="timeline-inverted">
					  <div class="timeline-badge warning"><i class="fa fa-bell"></i></div>
					  <div class="timeline-panel">
						<div class="timeline-heading">
						  <h4 class="timeline-title">김현수님</h4>
						  <p><small class="text-muted"><i class="fa fa-time"></i>4분전</small></p>
						</div>
						<div class="timeline-body">
						  <p>체온 상승</p>
						</div>
					  </div>
					</li>
					
					<li>
					  <div class="timeline-badge danger"><i class="fa fa-bell"></i></div>
					  <div class="timeline-panel">
						<div class="timeline-heading">
						  <h4 class="timeline-title">김지우님</h4>
						  <p><small class="text-muted"><i class="fa fa-time"></i>8분전</small></p>
						</div>
						<div class="timeline-body">
						  <p>심박수 정상</p>
						</div>
					  </div>
					</li>
					
					
				  </ul>
				  <!--//스타트 타임라인-->
				  
				</div><!--//패널바디--> 
			  </div><!--//패널-->
			  
		</div><!--//부트스트랩12-->
	  </div><!--//로우-->
</div><!--//페이지-->
