<!--사이트 패널-->
<div id="settings" data-ng-include=" 'views/settings/settings.html' " style="display:none">
</div>
<!--사이트 패널 엔드-->


<div class="pageheader"><!--페이지헤더-->
    <h3><i class="fa fa-users"></i>고객찾기</h3>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">카테고리</span>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">
                홈
                </a>
            </li>
            <li class="active">
            고객찾기
            </li>
        </ol>
    </div>
</div><!--//페이지헤더-->

<div class="page"><!--페이지-->

    <div class="well"><!--웰-->
        <div class="row">
            <div class="col-sm-9">
                <input placeholder="고객을 검색해주세요" class="form-control" type="text" />
            </div>
            <div class="col-sm-3">
                <div class="form-group nm">
                    <select class="form-control" id="source">
                        <option value="Name">성함</option>
                        <option value="position">성별</option>
                        <option value="company">전화번호</option>
                    </select>
                </div>
            </div>
        </div>
    </div><!--//웰-->
	
    <div class="row"><!--로우-->
	
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <!-- panel body -->
                        <img src="images/photos/user2.png" alt="" class="img-thumbnail img-circle">
                        <h4>
                            박보검
                        </h4>
                        <span>010-3243-1524</span>
                    </div>
                </div>
            </div>
        </div>
		
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <!-- panel body -->
                        <img src="images/photos/user1.png" alt="" class="img-thumbnail img-circle">
                        <h4>
                           송중기
                        </h4>
                        <span>010-1443-1524</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <!-- panel body -->
                        <img src="images/photos/user3.png" alt="" class="img-thumbnail img-circle">
                        <h4>
                            박해진
                        </h4>
                        <span>010-5443-3524</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <!-- panel body -->
                        <img src="images/photos/user4.png" alt="" class="img-thumbnail img-circle">
                        <h4>
                            공유
                        </h4>
                        <span>010-8443-3724</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="images/photos/user5.png" alt="" class="img-thumbnail img-circle">
                        <!-- panel body -->
                        <h4>
                           서강준
                        </h4>
                        <span>010-6827-1234</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <!-- panel body -->
                        <img src="images/photos/user6.png" alt="" class="img-thumbnail img-circle">
                        <h4>
                            강동원
                        </h4>
                        <span>010-2647-0732</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <!-- panel body -->
                        <img src="images/photos/user7.png" alt="" class="img-thumbnail img-circle">
                        <h4>
                            김민석
                        </h4>
                        <span>010-5342-6457</span>
                    </div>
                </div>
            </div>
        </div>
    </div><!--//로우-->
	
</div><!--//페이지-->
