
<!--회원가입하기-->
<div class="lock-wrapper">
  <div class="panel lock-box"><!--패널박스-->
  
		<div class="center"> <img alt="" src="images/photos/lock.png" class="img-circle"/></div>
		
		<h4>VMS</h4>
		
		<p class="text-center">등록해주세요!</p>
		
		<div class="row">
		  <form action="index.html" class="form-inline" role="form">
			<div class="form-group col-md-12 col-sm-12 col-xs-12">
			
			  <div class="iconic-input right">
				<label for="signupInputEmail" class="text-muted">이름</label>
				<input id="signupInputEmail1" type="email" placeholder="이름" class="form-control ph-15" required="required" />
				<i class="fa fa-user"></i> 
			  </div>
			  
			  <div class="iconic-input right">
				<label for="signupInputEmail" class="text-muted">이메일 주소</label>
				<input id="signupInputEmail1" type="email" placeholder="이메일" class="form-control ph-15" required="required" />
				<i class="fa fa-envelope"></i> 
			  </div>
			  
			  <div class="iconic-input right">
				<label for="signupInputPassword" class="text-muted">비밀번호</label>
				<input id="signupInputPassword" type="password" placeholder="비밀번호" class="form-control lock-input" required="required" />
				<i class="fa fa-lock"></i> 
			  </div>
			  
			  <div class="iconic-input right">
				<label for="signupInputPassword" class="text-muted">비밀번호 재확인</label>
				<input id="signupInputPassword" type="password" placeholder="비밀번호 재확인" class="form-control lock-input" required="required" />
				<i class="fa fa-lock"></i> 
			  </div>
				
			  <div class="square-blue pull-left pv-15">
				<label class="ui-checkbox">
				  <input name="checkbox1" type="checkbox" value="option1">
				  <span> <strong>이 조항에 동의합니다.</strong> </span> 
				</label>
			  </div>
			  
			  <button type="submit" class="btn btn-block btn-primary">가입하기</button>
			  
			</div>
		  </form>
		</div>
		
  </div>
  
  <div class="registration"> 이미 등록되어있습니다. <a href="#/pages/signin"> <span class="text-primary">로그인을 해주세요</span> </a> </div>
  
</div>
<!--//회원가입하기-->
