
<div class="lock-wrapper"><!--로그인 시작-->

  <div class="panel lock-box"><!--중간부분-->
    <div class="center"> <img alt="" src="images/photos/lock.png" class="img-circle"/> </div>
    <h4>안녕하세요!</h4>
    <p class="text-center">아이디와 패스워드를 기입해주세요.</p>
	
    <div class="row"><!--중간부분-->
      <form action="index.html" class="form-inline" role="form"><!--폼-->
	  
        <div class="form-group col-md-12 col-sm-12 col-xs-12"><!--부트스트랩-->
          
		  <div class="iconic-input right"><!--1-->
            <label for="signupInputEmail" class="text-muted">아이디</label>
            <input id="signupInputEmail1" type="email" placeholder="아이디를 기입해주세요." class="form-control padding-horizontal-15" required="required" />
            <i class="fa fa-envelope"></i> 
		  </div><!--//1-->
		  
          <div class="iconic-input right"><!--2-->
            <label for="signupInputPassword" class="text-muted">패스워드</label>
            <input id="signupInputPassword" type="password" placeholder="패스워드를 기입해주세요." class="form-control lock-input" required="required" />
            <i class="fa fa-lock"></i> 
		  </div><!--//2-->
		  
          <div class="square-blue pull-left pv-15"><!--3-->
            <label class="ui-checkbox">
              <input name="checkbox1" type="checkbox" value="option1">
              <span> <strong> 아이디,패스워드 기억하기 </strong> </span> </label>
          </div><!--//3-->
		  
          <button type="submit" class="btn btn-block btn-primary">로그인</button>
		  
        </div><!--//부트스트랩-->
		
      </form><!--//폼-->
    </div><!--//중간부분-->
	
  </div><!--//중간부분-->
  
  <div class="registration"> 아직 가입하지 않으셨다면 가입하세요!!! <a href="#/pages/signup"> <span class="text-primary"> 가입하기 </span> </a> </div><!--가입하기 버튼-->
  
</div><!--//로그인 시작-->
